/* MAIN NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: #00897b; 
  color: white;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

/* NAV LINKS - DESKTOP */
.nav-links {
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.logout-btn {
  background: #2e7d32;
  border: none;
  padding: 6px 12px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

/* Hamburger hidden on laptop */
.hamburger {
  display: none;
  font-size: 28px;
  cursor: pointer;
}


/* ---------- MOBILE VIEW ---------- */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: #00897b;
    flex-direction: column;
    gap: 15px;
    padding: 20px 0;
    display: none;
    text-align: center;
  }

  .nav-links.open {
    display: flex;
  }

  .nav-links a,
  .logout-btn {
    font-size: 18px;
  }
}
