.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 20px;
    background-color: #009688;
    color: white;
  }
  @media (max-width: 600px) {
    nav {
      flex-direction: column;
      text-align: center;
      gap: 10px;
    }
  
    nav a {
      display: block;
      font-size: 18px;
    }
  }
  
  .nav-links a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
  }
  
  .nav-links button {
    padding: 5px 10px;
    cursor: pointer;
  }
  .active-link {
    font-weight: bold;
    color: #004d40;
  }
  .nav-links a,
.nav-links button {
  padding: 8px 14px;
  border-radius: 8px;
  margin-right: 10px;
  transition: 0.3s ease;
}

/* Active Page Style */
.nav-links .active-link {
  background-color: #006d5b;  /* darker green for premium look */
  color: white !important;
  padding: 8px 16px;
  border-radius: 12px;
  font-weight: 600;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.2);
  transition: 0.2s ease-in-out;
}

.nav-links  :hover{
  background-color: #005e53;
  padding: 8px 16px;
  border-radius: 12px;
}
